@import 'tailwindcss';
@plugin "daisyui" {
  themes: winter --default, dim --prefersdark;
  root: ':root';
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

.menu-default-class {
  @apply flex flex-col items-center px-6 py-1 rounded-md;
}
